<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,400italic,700italic' rel='stylesheet' type='text/css'>
    <title>Fire-select</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            color: #666;
        }

        .title {
            text-align: center;
            font-size: 42px;
            font-style: italic;
        }

        .fire {
            color: #ff3200;
        }

        .fire span {
            font-style: normal;
        }

        #content {
            width: 400px;
            margin: 50px auto;
        }
    </style>
    <link rel="stylesheet" href="fire-select.css">
</head>
<body>
    <!-- fire-select-template -->
    <template id="fire-select-template">
        <div
            class="fire-select-box"
            :class="{
                'multiple': multiple,
            }"
            @click="open()"
        >
            <ul class="fire-selected-list">
                <li class="fire-selected-item empty" v-show="selected.length == 0">{{ emptyMessage }}</li>
                <li class="fire-selected-item"
                    :class="{
                        'animated': animation
                    }"
                    :transition="animation ? 'bounce' : ''"
                    v-for="item in selected"
                    @click.stop="multiple ? deselect(item) : open()"
                >
                    {{ item.value }} <b @click.stop="deselect(item)">&times;</b>
                </li>
            </ul>

            <ul class="fire-select-list" v-show="isOpen" transition="bounce">
                <li class="fire-select-item-input">
                    <input
                        type="text"
                        class="fire-select-input"
                        :placeholder="placeholder"
                        v-model="input"
                        v-el:input
                        @keyup.enter="index === null ? newItem() : select(index)"
                        @keydown.esc="close()"
                        @keydown.up.prevent="up()"
                        @keydown.down.prevent="down()"
                        @blur="close() | debounce 100"
                    >
                </li>

                <li class="fire-select-item" v-if="input" @click="newItem()">
                    {{ index === null ? 'Press enter' : 'Click here' }} to add: <b>{{ input }}</b>
                </li>

                <li
                    class="fire-select-item"
                    v-for="item in tips"
                    @click.stop="select(item)"
                    :class="{
                        'hover': $index == index,
                    }"
                >
                    {{{ item.value | highlight }}}
                </li>
            </ul>

            <select :name="name" :id="id" multiple style="display: none;">
                <option :value="item.key" selected v-for="item in selected">{{ item.value }}</option>
            </select>
        </div>
    </template>

    <h1 class="title"><span class="fire"><span>🔥</span>Fire</span>select</h1>

    <div id="content">
        <h3>Single</h3>
        <fire-select :items="items"></fire-select>
        <h3>Multiple</h3>
        <fire-select :items="items" :multiple="true"></fire-select>
    </div>

    <script src="vue.min.js"></script>
    <script src="fire-select.js"></script>
    <script>
        var data = [];
        var num = 4;

        for (var i = 0; i < num; i++) {
            data.push({
                key: i,
                value: 'item-' + i,
                selected: i%2 == 0,
                // selected: false,
            });
        }

        // data = ['pera', 'uva', 'maça', 'salada mista'];

        var vm = new Vue({
            el: "#content",

            data: {
                items: data,
            },

            events: {
                fsItemAdded: function(item) {
                    console.log('fire-select item added:', item);
                },

                fsItemSelected: function(item) {
                    console.log('fire-select item selected:', item);
                },

                fsItemDeselect: function(item) {
                    console.log('fire-select item deselected:', item);
                },
            }
        });
    </script>
    <script src="http://localhost:35729/livereload.js?snipver=1"></script>
</body>
</html>
